@use '../../styles/variables.scss' as *;


@media (max-width: $breakpoint-desktop) {
  header {

    .small-desktop-navigation {
      color: #ffffff;
      position: absolute;
      top: rem(100);
      right: rem(20);
      display: flex;
      max-height: 0;
      opacity: 0;
      transition: all 0.4s ease;

      .main-container-purchases {
        flex-direction: column;
        background: $primaryColor;
        padding: rem(20);
        border-radius: rem(20);

        li {
          color: #ffffff;
          padding-bottom: rem(10);
          border-radius: 0;

          &:first-child:hover .container-make-purchases i {
            transform: rotate(90deg);
          }

          &:not(:first-child):hover {
            transform: translateX(20px);
            opacity: 0.5;
            background: transparent;
          }

          & .container-purchases {
            position: absolute;
            left: rem(-250);
            top: 0;
            margin-top: 0;
            background: $primaryColor;
            border-radius: rem(20) 0 rem(20) rem(20);

            &:before {
              display: none;
            }

            li:hover {
              transform: translateX(20px);
              opacity: 0.5;
              background: transparent;
            }

            li a {
              border: none;
            }
          }
        }
      }
    }
  }
  .close {
    max-height: 0;
    overflow: hidden;
  }
}