@use '../../styles/variables.scss' as *;

.content-register-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);
  color: $primaryColor;
  border: 2px solid $primaryColor;
  border-radius: rem(20);
  padding: rem(20) rem(60);
  background: #f7f3ed;
  font-weight: 600;

  .cursor {
    white-space: nowrap;
    cursor: pointer;
  }

  .container-register {
    position: absolute;
    top: rem(30);
    left: rem(-200);
    background: #000;
  }
}