@use 'sass:math';

@function rem($size) {
  $remSize: math.div($size, 16);
  @return #{$remSize}rem;
}

//primaryColors
$primaryColor: #7c896d;

//media

$breakpoint-desktop: 1024px;
$breakpoint-desktop-small: 980px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
