@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	font-style: normal;
	src: url('poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	font-style: italic;
	src: url('poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: url('poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: italic;
	src: url('poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	font-style: normal;
	src: url('poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	font-style: italic;
	src: url('poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: normal;
	src: url('poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: italic;
	src: url('poppins/Poppins-BlackItalic.ttf') format('truetype');
}
