@use '../../styles/variables.scss' as *;

.small-desktop-navigation {
  flex: auto;

  &.open {
    max-height: rem(400);
    opacity: 1;
  }

  .main-container-purchases {
    display: flex;
    gap: rem(20);

    li {
      position: relative;
      padding: rem(6);
      color: $primaryColor;
      border-radius: rem(10);
      transition: all 0.4s ease-in-out;

      &:hover,
      &:focus-within {
        background: $primaryColor;
        color: #ffffff;
      }

      &:first-child {
        border-radius: rem(10) rem(10) 0 0;
      }

      &:first-child:hover .container-make-purchases i {
        transform: rotate(180deg);
        transition: all 0.4s ease-in-out;
        color: #ffffff;
      }

      .container-make-purchases {
        display: flex;

        i {
          margin-left: rem(4);
        }
      }

      a,
      span {
        cursor: pointer;
      }

      &:hover .container-purchases {
        opacity: 1;
        max-height: rem(1000);
      }

      .container-purchases {
        min-width: rem(230);
        position: absolute;
        top: rem(18);
        left: 0;
        display: flex;
        flex-direction: column;
        margin-top: rem(10);
        background: $primaryColor;
        border-radius: 0 rem(10) rem(10) rem(10);
        opacity: 0;
        max-height: 0;
        transition: all 0.4s ease-in-out;
        overflow: hidden;

        &:before {
          content: '';
          display: block;
          height: rem(25);
          width: rem(25);
          position: absolute;
          border-radius: 50%;
          top: -24px;
          right: 19px;
          background: transparent;
          transform: rotate(241deg);
        }

        li {
          margin: rem(6) 0;
          color: #ffffff;
        }
      }

      &:hover .container-purchases:before {
        box-shadow: -5px -11px 0 #7c896d;
      }
    }
  }
}

@import '../../styles/media/navigationMedia.scss';

