@use '../../styles/variables.scss' as *;

header {
	display: flex;
	align-items: center;
	height: rem(80);
	.container-logo {
		max-width: rem(40);
		height: rem(40);
		margin-right: rem(20);
		img {
			width: 100%;
		}
	}
	.container-right-side {
		display: flex;
		column-gap: rem(20);
		i {
			color: $primaryColor;
			font-size: rem(20);
		}
	}
}
