@use '../../styles/variables.scss' as *;
@use '../../styles/media/headerMedia.scss' as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(80);
  width: 100vw;
  max-width: 100%;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 0 rem(20);

  .container-logo {
    max-width: rem(40);
    height: rem(40);
    margin-right: rem(20);
    flex: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .registration {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: rem(300);
    transition: max-height 0.4s ease;
    left: calc(50% - 202px);
  }

  .container-right-side {
    display: flex;
    position: relative;
    align-items: center;

    .container-basket-user {
      display: flex;
      column-gap: rem(14);
    }

    .container-burger {
      height: rem(30);
      width: rem(30);
      position: relative;
      display: none;
      cursor: pointer;

      span {
        display: block;
        height: rem(2);
        width: rem(20);
        background: $primaryColor;
        border-radius: rem(10);
        position: absolute;
        top: rem(14);
        left: rem(5);

        &:before,
        &:after {
          content: '';
          position: absolute;
          display: block;
          height: rem(2);
          width: rem(20);
          background: $primaryColor;
          border-radius: rem(10);
        }

        &:after {
          top: rem(8);
        }

        &:before {
          top: rem(-8);
        }
      }
    }

    .container-register-and-login {
      max-height: 0;
      overflow: hidden;
      position: absolute;
      top: rem(55);
      left: rem(-172);
      transition: all 0.4s ease;
    }

    i {
      color: $primaryColor;
      font-size: rem(20);
      cursor: pointer;
    }


  }
}



